{% extends 'layout.njk' %}
{% block  content %}
    <main>
        {% include 'components/meepsform.njk' %}
        <ul>
            {% for meep in meeps %}
                <li>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <p class="card-text">{{ meep.body }}</p>
                        </div>
                    </div>
                </div>
                <a href="/api/meeps/{{ meep.id }}/delete" class="btn btn-sm btn-danger">
                    Delete meep
                </a>
            </div>
        </li>
    {% endfor %}
</ul>{% endblock %}</main>