{% extends 'layout.njk' %}
{% block  content %}
    <h1>Hej {{ user }}!</h1>
    <img src="../routes/images/hej123.jpg" alt="pfp">
    <form
        ref='uploadForm'
        id='uploadForm'
        action='/api/upload'
        method='post'
        encType="multipart/form-data">
        <input type="file" name="sampleFile"/>
        <input type='submit' value='Upload!'/>
    </form>
{% endblock %}