{% extends 'layout.njk' %}
{% block  content %}
    <main class="form-signin">
        <form action="/api/register" method="post">
            <div class="wrapper fadeInDown">
                <div id="formContent">
                    <div class="fadeIn first">
                    <form>
                        <input type="text" id="login" class="fadeIn second" name="user" placeholder="Username">
                        <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
                        <input type="submit" class="fadeIn fourth" value="Create account">
                    </form>
                </div>
            </div>
        </form>
    </main>
{% endblock %}